@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&family=Rubik+Iso&display=swap');


body {
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: #ff2313;
    color: #ffff;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 0;
    overflow: hidden;
}

.counter-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin: 900px 600px;
}

.counter {
    font-size: 60px;
    margin-top: 10px;
}

@media (max-width: 500px) {
    body{
        flex-direction: column;
    }
}